body{
    margin: 0;
    padding: 0;
    background-color: #E7F3F4;
}

@keyframes fading {
0%, 25% {
background-image: url(/img/Hotel/header.jpg);
}
25%, 50% {
background-image: url(/img/Hotel/header1.jpg);
}
50%, 75% {
background-image: url(/img/Hotel/header2.jpg);
}
75%, 100% {
background-image: url(/img/Hotel/header.jpg);
 }
}

.header {
animation: fading 20s infinite;
background-size: cover;
background-attachment: fixed;
width: 100%;
height: 50vh;
overflow: hidden;
display: inline-block;
text-align: center;
justify-content: center;
background-position: 50% 50%;
padding-bottom: 75px;
}

.baixoheader{
    width: 1903px;
    height: 74px;
    flex-shrink: 0;
    background: rgba(26, 26, 26, 0.70);
    box-shadow: 0px 0px 30px 0px #000;
    backdrop-filter: blur(2.5px);
    margin-top: 413px;
}

.letrabaixo{
    width: 165px;
    height: 25px;
    color: #D9D9D9;
    font-family: Philosopher;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    position:absolute;
    margin-top: 25px;
}

.letrabaixo2{
    width: 165px;
    height: 25px;
    color: #D9D9D9;
    font-family: Philosopher;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 700px;
    position: absolute;
    margin-top: 25px;
}

.letrabaixo3{
    width: 230px;
    height: 25px;
    color: #D9D9D9;
    font-family: Philosopher;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1100px;
    margin-top: 25px;
    position: absolute;
}

.busca button {
    width: 120px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0px 10px 1500px;
    background-color: #34777F;;
  }

.menu-bar {
background-color: rgba(0, 0, 0, 0.2);
width: 100%;
display: flex;
}
  
.menu-bar img {
margin-left: 15px;
}

.menu-itens {
text-align: center;
font-size: 30px;
width: 100%;
padding-top: 10px;
}

.menu-itens a {
text-decoration: none;
color: black;
padding-right: 80px;
}
  
.menu-itens a:hover {
color:white;
}

.container-hotel{
    display: flex;
    width: 100%;
    height: 90%;
}

.filtros{
    width: 33%;
}

.retangulo{
    width: 25%;
    height: 50%;
    background-color: lightgray;
    padding: 20px;
    margin: 5% 0% 0% 2%;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
}

.estilo {
    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;
    width: 100%;
    height: 20px;
    border-radius: 9px;   
}

.estilo::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 50%; 
    background:#2796ee;
    cursor: pointer;
}

.estilo::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #2796ee;
    cursor: pointer;
}

.valormax{
    margin-left: 290px;
    margin-top: -43px;
}

.confirmar-button {
    background-color:#2796ee;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 44px;
    margin-top: 30px;
    width: 320px;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid grey;
    width: 200px;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 15px;
}

span {
    margin-right: 5px;
}

input[type="text"] {
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
}

.lugares{
    display: flex;
    width: 100%;
    height: 90%;
    margin-top: -111px;
}

.quadrolugar{
    width: 1270px;
    height: 390px;
    background-color: lightgray;
    padding: 20px;
    margin: -975px 0px 10px 550px;
    border-radius: 62px;
    font-size: 20px;
    font-weight: 700;
}

.quadrolugar2{
    width: 1270px;
    height: 390px;
    background-color: lightgray;
    padding: 20px;
    margin: -505px 0px 10px -1313px;
    border-radius: 62px;
    font-size: 20px;
    font-weight: 700;
}

.quadrolugar3{
    width: 1270px;
    height: 390px;
    background-color: lightgray;
    padding: 20px;
    margin: -30px 0px 10px -1313px;
    border-radius: 62px;
    font-size: 20px;
    font-weight: 700;
}

.fotos{
    margin: -404px 0px 0px -19px;
}

.aplicandozoom{
overflow: hidden;
}

.zoom-image {
    transition: transform .1s;
}

.zoom-image:hover {
    transform: scale(1.2);
}

.corpo-sobre-direita {
    width: 80%;
    height: auto;
    background-color: #E7F3F4;
  }
  
  .alinhar-card-sobre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .card-sobre-direita {
    width: 90%;
    height: 100%;
    border-radius: 62px;
    margin-top: 7%;
    margin-bottom: 30px;
    display: flex;
    background-color: #D9D9D9;
  }
  
  .img-card-sobre-direita {
    width: 40%;
  }
  
  .img-card-sobre-direita img {
    border-radius: 65px;
    width: 100%;
  }
  
  .texto-direita {
    width: 60%;
    height: auto;
  }
  
  .alinhar-texto-card {
    display: flex;
    margin-bottom: 15px;
  }
  
  .alinhar-texto-card a {
    margin: 15px;
  }
  
  .topo-card-sobre-direita {
    width: 100%;
    height: 50%;
  }
  
  .texto-card-sobre-direita {
    width: 90%;
    margin-left: 32px;
  }
  
  .baixo-card-sobre-direita h2,
  hr,
  p,
  span,
  button {
    margin: 0;
  }
  
  .baixo-card-sobre-direita h2 {
    color: #474444;
  }
  
  .baixo-card-sobre-direita span {
    color: #474444;
    font-size: 50px;
  }
  
  #rs {
    color: #474444;
    font-size: 20px;
  }
  
  #taxas {
    color: #474444;
    font-size: 10px;
  }
  
  .baixo-card-sobre-direita p {
    color: #474444;
    margin-top: 11px;
  }
  
  .divisoria-card {
    display: flex;
  }
  
  .alinhar-btn-card-sobre {
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: end;
  }
  
  .alinhar-btn-card-sobre button {
    width: 40%;
    height: 50px;
    font-size: 16px;
    border-radius: 30px;
    background-color: #34777F;
  }

.corfonte{
    color: black;
    font-family: Philosopher;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-comodidades-alinhar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-comodidades-topo {
  width: 100%;
  display: flex;
}

.card-comodidades-baixo {
  width: 100%;
  display: flex;
}

.card-comodidades-itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 60px;
  margin: 5px;
  border-radius: 10px;
  background-color: #D8DEF7;
}

.card-comodidades-itens:hover{
    background-color:#2796ee;
}

.card-comodidades-itens:visited{
    background-color:rgb(83, 76, 76);
}

.comodi{
    display: flex;
    width: 51.6px;
    height: 13.2px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Philosopher;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 8px;
}

.iconehotel{
    font-size: 17px;
}

.footer0 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #2B2B2B;
  min-height: 350px;
}

.footer1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 15px;
  width: 20%;
}

.footer1 img {
  width: 20%;
  height: auto;
}

.footer1 h3 {
  color: #E0E0E0;
  font-family: Newsreader;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer1 p {
  color: #787878;
  font-family: Philosopher;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer2 {
  display: flex;
  justify-content: space-around;
  gap: 30%;
  align-items: stretch;
}

.foo1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  gap: 20px;
}

.foo1 a {
  inline-size: max-content;
  color: #787878;
  font-family: Philosopher;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foo1 a:hover {
  color: #E7F3F4
}

.foo1 h4 {
  color: #E0E0E0;
  font-family: Philosopher;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer3 {
  display: flex;
  justify-content: center;
  gap: 1%;
  align-items: baseline;
  background: #1C1E1F;
  min-height: 41px;
  align-items: center;
}

.footer3 a {
  text-decoration: none;
  color: #787878;
}

.footer3 a:hover {
  color: white;
}

.footer3 h5 {
  color: #787878;
  font-family: Philosopher;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer3 h6 {
  color: #787878;
  font-family: Philosopher;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}