body {
  margin: 0;
  padding: 0;
  background-color: #E7F3F4;
}

p, a{
font-family: 'Philosopher';
}

h1, h2, h3,h4, h5 {
  font-family: 'Newsreader';
}

button, span{
  font-family: 'Philosopher';
}

@keyframes fading {

  0%,
  25% {
    background-image: url(/img/header.jpg);
  }

  25%,
  50% {
    background-image: url(/img/header1.jpg);
  }

  50%,
  75% {
    background-image: url(/img/header2.jpg);
  }

  75%,
  100% {
    background-image: url(/img/header.jpg);
  }
}

.header {
  animation: fading 12s infinite;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  justify-content: center;
}

.header h1 {
  padding: 0px;
  margin: 0px;
}

.menu-bar-home {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  backdrop-filter: blur(3px)
}

.menu-bar {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  position: fixed;
  backdrop-filter: blur(3px)
}

.menu-bar img {
  margin-left: 15px;
}

.menu-itens {
  text-align: center;
  font-size: 25px;
  width: 100%;
  padding-top: 10px;
}

.menu-itens a {
  text-decoration: none;
  color: black;
  padding-right: 80px;
}

.menu-itens a:hover {
  color: white;
}

.titulo {
  padding-top: 14%;
}

.titulo h1 {
  font-size: 90px;
  font-family: 'Times New Roman';
  margin-top: 2%
}

.box-titulo {
  margin: 0% 25% 5% 25%;
}

.box-titulo p {
  margin-top: 1%;
  margin-bottom: -2%
}

.home-filtro {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 10px;
}

.home-filtro-menu a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin: 0px 40px 0px 40px;
}

.home-filtro-menu a:hover {
  color: white;
}

.form-filtro {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 1.5%;
}

.form-filtro h1 {
  color: white;
  margin: 0;
}

.input-form-filtro {
  margin: 10px;
  width: 300px; 
}

.form-linha {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
}

.form-linha:focus {
  ~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: white;
    font-weight: 700;
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: white;
  border-image-slice: 1;
}

.home-filtro button {
  width: 87px;
  height: 38px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px 10px 20px;
  background-color: #34777F;
}

.sobre {
  width: 100%;
  height: 100vh;
  display: flex;
}

.caixa-sobre h1 {
  font-size: 40px;
  margin-bottom: 0px;
}
.button-sobre{
  font-size: 10px; 
  font-weight: 600;
  font-family: 'arial';
}
.sobre p {
  font-size: 20px;
}

.sobre-esquerda {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa-sobre {
  width: 80%;
}

.caixa-sobre button {
  font-size: 15px;
  width: 153px;
  height: 53px;
  margin: 61px 0px 0px 0px;
  padding: 10px;
  border-radius: 10px;
  background-color: #34777F;
}

.sobre-direita {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-direita img {
  width: 420px;
  height: 630px;
  border-radius: 62px;
}

.ofertas-home {
  width: 100%;
  height: 100vh;
}

.ofertas-home-cards {
  display: flex;
  justify-content: center;
  align-self: center;
}

.btn-voltar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-voltar button {
  border: none;
  background-color: transparent;
}

.btn-voltar button:hover {
  background-color: beige;
}

.btn-proximo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-proximo button {
  border: none;
  background-color: transparent;
}

.btn-proximo button:hover {
  background-color: beige;
}

.carrocel-ofertas-home {
  display: flex;
}

.slide {
  display: none;
}

.alinhar-cards {
  display: flex;
}

.visible {
  display: block;
}

.ofertas-hotel-home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.ofertas-hotel-home h1 {
  width: 100%;
  font-size: 40px;
  text-align: center;
  margin-bottom: 32px;
}

.ofertas-hotel-home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.card-hotel-home {
  display: flex;
  justify-content: center;
  width: 80%;
  border-radius: 60px;
  margin-bottom: 150px;
  background-color: #E6E6E6;;
}

.card-hotel-home img {
  width: 50%;
}

.texto-card-hotel-home {
  width: 50%;
  border-radius: 60px;
  margin-left: 33px;
  background-color: #E6E6E6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-texto-card-hotel-home {
  width: 80%;
}

.carousel {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
}

.carousel__input {
  display: none;
  text-decoration: none;
}

.carousel__slides {
  display: flex;
  width: 300%;
  animation: carouselSlide 10s infinite;
}

.carousel__slide {
  width: 100%;
  border: none;
  border-radius: 10px;
}

.carousel__slide img {
  max-width: 100%;
  width: 360px;
  height: 660px;
  border-radius: 63px;
  object-fit: cover;
  border: none;
}

.carousel__indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 5px;
  cursor: pointer;
}

.carousel__indicator:hover {
  background-color: #555;
}

.carousel__input:checked+.carousel__slides {
  animation-play-state: paused;
}

.carousel__input:nth-child(1):checked~.carousel__slides {
  transform: translateX(-33.33%);
}

.carousel__input:nth-child(2):checked~.carousel__slides {
  transform: translateX(-66.66%);
}

.attribute {
  position: absolute;
  bottom: 10px;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: '&quot, Rubik&quot, sans-serif';
  --font-serif: '&quot; Cardo&quot; serif';
}

.page-content {
  display: flex;
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;
  font-family: var(--font-sans);
}

.card {
  margin: 40px;
  width: 360px;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 100px) {
  .card {
    max-width: 100%;
    width: 320px;
    height: 660px;
    border-radius: 63px;
    object-fit: cover;
    border: none;
  }
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

#card1:before {
  background-image: url(/img/bondinho.jpg);
}

#card2:before {
  background-image: url(/img/fernando.jpg);
}

#card3:before {
  background-image: url(/img/cataratas.jpg);
}

#card4:before {
  background-image: url(/img/paris.svg);
}

#card5:before {
  background-image: url(/img/puntacana.svg);
}

#card6:before {
  background-image: url(/img/grecia.svg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content>*+* {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  width: auto;
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: #0d0d0d;
}

.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }

  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }

  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }

  .card:hover .content>*:not(.title),
  .card:focus-within .content>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content>*:not(.title) {
    transition-duration: 0s;
  }
}

.header-pacotes {
  background-image: url(/img/header-pacotes.jpg);
  width: 100%;
  height: 390px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-filtro-barra-pacotes {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 15%;
  display: flex;
  padding-bottom: 10px;
}

.header-filtro-barra-pacotes-esquerda {
  width: 40%;
  display: flex;
  text-align: center;
}

.header-filtro-barra-pacotes-direita {
  width: 60%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.header-filtro-barra-pacotes-direita button {
  width: 87px;
  height: 38px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px 10px 20px;
  background-color: #34777F;;
}

input[type="date"] {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 10px;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
}

select {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 10px;
}

.header-filtro-barra-pacotes-direita button {
  width: 120px;
  height: 44px;
  margin: 10px 0px 0px 0px;
}

.corpo-sobre {
  width: 100%;
  height: auto;
  display: flex;
  background-color: rgb(230, 237, 238);
}

.corpo-sobre-esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: auto;
  background-color: #E7F3F4;;
}

.card-corpo-sobre-esquerda {
  width: 350px;
  height: 300px;
  background: linear-gradient(180deg, rgba(66, 58, 97, 0.13) 0%, rgba(26, 45, 85, 0.38) 100%);
  border-radius: 20px;
  margin-top: 120px;
}

.cabecalho-card-corpo-sobre-esquerda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho-card-corpo-sobre-esquerda h1,
h3 {
  margin: 0;
}

.cabecalho-card-corpo-sobre-esquerda h1 {
  margin-right: 30px;
}

.cabecalho-card-corpo-sobre-esquerda h3 {
  margin-top: 7px;
}

.meio-cabecalho-card-corpo-sobre-esquerda {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.meio-cabecalho-card-corpo-sobre-esquerda h1 {
  margin: 0;
  padding: 0;
}
.meio-cabecalho-card-filtro-esquerda{
  margin-left: 3%;
}
.footer-cabecalho-card-corpo-sobre-esquerda {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-cabecalho-card-corpo-sobre-esquerda button {
  width: 290px;
  height: 45px;
  border-radius: 4px;
  margin: 17px 0px 17px 0px;
  font-size: 20px;
  color: rgba(9, 43, 78, 0.50);
  background: #D8DEF7;
}

.card-filtro-sobre-esquerda {
  width: 350px;
  height: auto;
  background: linear-gradient(180deg, rgba(66, 58, 97, 0.13) 0%, rgba(26, 45, 85, 0.38) 100%);
  border-radius: 20px;
  margin-top: 120px;
}

.card-comodidades {
  margin: 10px 10px 10px 0px;
}

.card-comodidades-alinhar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-comodidades-topo {
  width: 100%;
  display: flex;
}

.card-comodidades-baixo {
  width: 100%;
  display: flex;
}

.card-comodidades-itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  background-color: #D8DEF7;
}

.corpo-sobre-direita {
  width: 70%;
  height: auto;
  background-color: #E7F3F4;;
}

.alinhar-card-sobre {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-sobre-direita {
  width: 90%;
  height: 100%;
  border-radius: 62px;
  margin-top: 8%;
  margin-bottom: 30px;
  display: flex;
  background-color: #D9D9D9;
}

.img-card-sobre-direita {
  width: 40%;
}

.img-card-sobre-direita img {
  border-radius: 65px;
  width: 100%;
}

.texto-direita {
  width: 60%;
  height: auto;
}

.alinhar-texto-card {
  display: flex;
  margin-bottom: 15px;
}

.alinhar-texto-card a {
  margin: 15px;
}

.topo-card-sobre-direita {
  width: 100%;
  height: 50%;
}

.texto-card-sobre-direita {
  width: 90%;
  margin-left: 32px;
}

.baixo-card-sobre-direita h2,
hr,
p,
span,
button {
  margin: 0;
}

.baixo-card-sobre-direita h2 {
  color: #474444;
}

.baixo-card-sobre-direita span {
  color: #474444;
  font-size: 50px;
}

#rs {
  color: #474444;
  font-size: 20px;
}

#taxas {
  color: #474444;
  font-size: 10px;
}

.baixo-card-sobre-direita p {
  color: #474444;
  margin-top: 11px;
}

.divisoria-card {
  display: flex;
}

.alinhar-btn-card-sobre {
  width: 90%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.alinhar-btn-card-sobre button {
  width: 40%;
  height: 50px;
  font-size: 16px;
  border-radius: 30px;
  background-color: #34777F;
}

main {
  padding: 40px 4%;
}

.top {
  background-image: url(img/passeios/header-passeios.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 250px;
  position: relative;

}

.barra {
  display: flex;
  justify-content: center;
  gap: 40px;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(2px);
  box-shadow: inset 0px 0px 20px 0px rgba(255, 252, 252, 0.292);
  background-color: rgba(61, 61, 61, 0.244);
  padding: 10px;
}

.info {
  position: absolute;
  left: 0;
  right: 0;
  top: 199px;
  backdrop-filter: blur(2px);
  box-shadow: inset 0px 0px 20px 0px rgba(255, 252, 252, 0.292);
  background-color: rgba(61, 61, 61, 0.244);
  padding: 15px;
}

.all {
  display: flex;
  align-items: flex-start;
  justify-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;

}

.pacote {
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 52px;
  border: 1px solid rgba(0, 0, 0, 0.40);
  background: #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 530px;
  height: 450px;
  margin-block: 20px;
}

.pacote img {
  width: 240px;
  height: 450px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 52px 0px 0px 52px;
  background: url(<path-to-image>), lightgray -261.403px 0px / 272.543% 100% no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.imgco {
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 52px 0px 0px 52px;
}

.imgco img {
  transition: all 0.3s;
  transform: scale(1);
}

.imgco:hover img {
  transform: scale(1.1);
}

.texto {
  padding-left: 21%;
}

.texto h1 {
  text-align: center;
  color: #000;
  font-family: Philosopher;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 25px;
}

.texto h3 {
  padding: 10px 10px 10px 10px;
  color: rgba(0, 0, 0, 0.70);
  font-family: 'Philosopher';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.espaco {
  display: block;
  width: 90%;
  margin: 0 15px;
  height: 1px;
  background-color: #333;
}

.texto h2 {
  padding: 0 10px;
  font-size: 20px;
}

.lista {
  padding: 0px 20% 5% 20%;
  font-size: 15px;
}

.texto p {
  color: rgba(0, 0, 0, 0.70);
  font-family: Philosopher;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  margin-left: 6px;
}

.preco {
  padding-left: 110px;
  
}

.preco h6,
h4 {
  display: inline;

}

.preco h6 {
  color: #000;
  font-family: Philosopher;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.preco h4 {
  color: #21818a;
  font-family: Philosopher;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.footer0 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #2B2B2B;
  min-height: 350px;
}

.footer1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 15px;
  width: 20%;
}

.footer1 img {
  width: 20%;
  height: auto;
}

.footer1 h3 {
  color: #E0E0E0;
  font-family: Newsreader;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer1 p {
  color: #787878;
  font-family: Philosopher;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer2 {
  display: flex;
  justify-content: space-around;
  gap: 30%;
  align-items: stretch;
}

.foo1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  gap: 20px;
}

.foo1 a {
  inline-size: max-content;
  color: #787878;
  font-family: Philosopher;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foo1 a:hover {
  color: #E7F3F4
}

.foo1 h4 {
  color: #E0E0E0;
  font-family: Philosopher;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer3 {
  display: flex;
  justify-content: center;
  gap: 1%;
  align-items: baseline;
  background: #1C1E1F;
  min-height: 41px;
  align-items: center;
}

.footer3 a {
  text-decoration: none;
  color: #787878;
}

.footer3 a:hover {
  color: white;
}

.footer3 h5 {
  color: #787878;
  font-family: Philosopher;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer3 h6 {
  color: #787878;
  font-family: Philosopher;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}