body {
    margin: 0;
    padding: 0;
}

.menu-bar {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
}

.menu-bar img {
    width: 30px;
    height: auto;
}

.menu-itens {
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.menu-itens a {
    text-decoration: none;
    color: black;
    padding-right: 80px;
}

.titulo {
    padding-top: 15%;
}

.titulo h1 {
    font-size: 90px;
}

.box-titulo {
  margin-left: 25%;
  margin-right: 25%;
}

.home-filtro {
    background-color: rgba(0, 0, 0, 0.2);
    /* background-color: yellow; */
    border-radius: 3px;
    width: 50%;
    height: 168px;
    margin-left: 25%;
    margin-right: 25%;
}

.home-filtro-menu a {
    text-decoration: none;
    color: black;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 20%;
  display: flex;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, black,gray);
  border-image-slice: 1;
}

.header {
    background-image: url(/img/header.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh; /* 100% da altura da janela de visualização */
    overflow: hidden; /* Impede que a imagem se expanda ao rolar */
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.header h1 {
    padding: 0px;
    margin: 0px;
}