p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p, a{
    font-family: 'Philosopher';
    }
    
    h1, h2, h3,h4, h5 {
    font-family: 'Newsreader';
    }
    button, span{
    font-family: 'Philosopher';
    }
body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #E7F3F4;
}

header {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.header-filtro-barra-pacotes {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 15%;
    display: flex;
    padding-bottom: 10px;
}

.header-filtro-barra-pacotes-esquerda {
    width: 40%;
    display: flex;
    text-align: center;
}

.header-filtro-barra-pacotes-direita {
    width: 60%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

input[type="date"] {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
}

select {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
}

.header-filtro-barra-pacotes-direita button {
    width: 120px;
    height: 44px;
    background: #34777F;
    border-radius: 30px;
    margin: 10px 0px 0px 0px;
}

.form-filtro {
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: flex;
}

.form-filtro h1 {
    color: white;
    margin: 0;
}

.input-form-filtro {
    margin: 10px;
    width: 300px;
}

.form-linha {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: white;
}

.form-linha:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: white;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: white;
    border-image-slice: 1;
}

main {
    margin: 5%;
}

.all {
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.p1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 30%;
}

.p2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    height: 100%;
    width: 100%;
}

.p3 {
    display: flex;
    height: 100%;
    width: 100%;
}

.top {
    width: 100%;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/img/voo/header-voo.jpg);
    background-size: cover;
}

.barra {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra img {
    margin-left: 15px;
}

.links-nav {
    width: 100%;
}

.links-nav a {
    text-decoration: none;
    color: black;
    padding-right: 80px;
    font-size: 25px;
}

.links-nav a:hover {
    color: white;
}

.text {
    display: block;
}

a {
    text-decoration: none;
    font-size: medium;
    color: rgba(0, 0, 0, 0.715);
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(28, 28, 28, 0.459);
    backdrop-filter: blur(12px) brightness(1.09) contrast(140%) grayscale(40%) drop-shadow(4px 4px 3px rgba(58, 58, 58, 1));

}

.pesquisa1 {
    display: flex;
}

.pq1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pq1 p {
    padding-right: 10px;
}

.pq1 .line {
    width: 75%;
    height: 3px;
    background: #bdc3c7;
}

.pq1 .line:after {
    content: " ";
    float: right;
    width: 100%;
    height: 3px;
    transform: scalex(0);
    transition: transform 0.3s ease;
    background: #0e9bf382;
}

.date {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.btn0 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.btn1 {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    padding-top: 10px;
    color: #000;
    background: #34777F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Philosopher;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 15px;
}

.btn1:hover {
    background: linear-gradient(0deg, rgb(21, 232, 215) 0%, rgb(82, 236, 161) 100%);
}

.passagem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    background: linear-gradient(179deg, rgba(105, 105, 105, 0.51) 0.49%, rgba(138, 138, 138, 0.29) 97.45%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 380px;
    height: 40%;

}

.passagem h1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 27px;
}

.separate {
    border: 1px solid rgb(77, 77, 77);
    height: 45px;
}

.btn-all {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
}

.btn {
    width: 30%;
    height: 50%;
    border-radius: 10px;
    background: #D8DEF7;
    background: linear-gradient(0deg, #9b9b9b 0%, rgba(66, 58, 97, 0.13) 100%);
    border: none;
    text-align: center;
    font-size: 15px;
}

.btn:hover {
    background: rgb(0, 3, 255);
    background: linear-gradient(0deg, rgb(90, 147, 225) 0%, rgb(147, 189, 231) 100%);
}

input {
    background: 0;
    border: 0;
    outline: none;
    max-width: 400px;
    font-size: 1.1em;
    transition: padding 0.3s 0.2s ease;
}

input:focus {
    padding-bottom: 5px;
}

input:focus+.line:after {
    transform: scaleX(1);
}

.origem p,
.destino p {
    padding: 5px;
}

.origem {
    padding-left: 10px;
}

.origem .line {
    width: 90%;
    height: 2px;
    background: #f1f1f1;
}

.origem .line:after {
    content: " ";
    float: right;
    width: 100%;
    height: 3px;
    transform: scalex(0);
    transition: transform 0.3s ease;
    background: #0e9bf382;
}

.destino p {
    padding-left: 10px;
}

.data {
    display: flex;
    gap: 38%;
    margin-left: 15px;
}

input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}

label {
    font-weight: bold;
}

form {
    display: flex;
    max-width: 350px;
    flex-direction: row;
    align-items: baseline;
}

.form {
    margin: 0 3%;
}

.passageiro p {
    padding: 4%;
}

.buscar {
    display: grid;
    justify-content: space-evenly;
    margin-top: 20px;
}

.btn-buscar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(77, 77, 77, 0.51) 0%, rgba(66, 58, 97, 0.13) 100%);
    text-align: center;
    font-size: 25px;
}


.btn-buscar:hover {
    background: rgb(0, 3, 255);
    background: linear-gradient(0deg, rgb(2, 179, 255) 0%, rgb(171, 206, 241) 100%);
}

#nome {
    font-size: 11px;
}

.menu {
    display: grid;
    grid-template-columns: 250px auto auto auto;
    grid-template-rows: 50px auto auto auto auto;
    border-radius: 20px;
    background: linear-gradient(179deg, rgba(105, 105, 105, 0.51) 0.49%, rgba(138, 138, 138, 0.29) 97.45%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 190px;
}

.m1 {
    display: grid;
    grid-template-columns: 100%;
    align-content: center;
    justify-items: center;
    border: 1px solid #000;
    border-bottom: 0;
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(179deg, rgba(105, 105, 105, 0.51) 0.49%, rgba(138, 138, 138, 0.29) 97.45%);
}

.m2 {
    display: grid;
    grid-template-columns: 100%;
    align-content: center;
    justify-items: center;
}

.m {
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    align-content: center;
    justify-content: center;
}

.m31 {
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    align-content: center;
    justify-content: center;
    border-top: 1;
    border-left: 0;
}

.m3 {
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    align-content: center;
    justify-content: center;
    border-top: 1;
}

.m4 {
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    align-content: center;
    justify-content: center;
    border-top: 1;
    border-right: 0;
}

.m5 {
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    align-content: center;
    justify-content: center;
    border-left: 0;
}

.m6 {
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    align-content: center;
    justify-content: center;
    border-left: 0;
    border-bottom: 0;
}

.m7 {
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    align-content: center;
    justify-content: center;
    border-bottom: 0;
}

.m8 {
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    align-content: center;
    justify-content: center;
    border-right: 0;
    border-bottom: 0;
}

.m9 {
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    align-content: center;
    justify-content: center;
    border-right: 0;

}

.m02 {
    border-right: 1px solid black;
}

.m,
.m3,
.m4,
.m5,
.m6,
.m7,
.m8,
h6 {
    margin: 0;
}

.ordem {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    padding-left: 82%;

}

.ordem img {
    width: 15px;
    cursor: pointer;
}

.ordem h5 {
    width: 30px;
    color: #000;
    text-align: center;
    font-family: Philosopher;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.img1 {
    width: 30px;
    direction: ltr;
}

.img2 {
    width: 30px;
    direction: rtl;
}

.imagem-efeito {
    transition: transform 0.3s, background-color 0.3s;

}

.imagem-efeito:hover {
    transform: scale(1.2);
}

.bilhete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 178px;
    border-radius: 20px;
    border-right: 1px dashed rgba(38, 38, 38);
    background: linear-gradient(179deg, rgba(105, 105, 105, 0.51) 0.49%, rgba(138, 138, 138, 0.29) 97.45%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bilhete img {
    width: auto;
    height: 20px;
}

.bilhete .texto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aviao-logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 2px;
}

.aviao {
    display: flex;
    align-items: center;
    gap: 2px;
}

.bilhete .ida,
.bilhete .volta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ida h5,
.volta h5 {
    margin: 0;
}

.ida p,
.volta p {
    margin: 0;
}

.ida1,
.volta1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pins {
    padding-right: 10px;
}

.valor {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 30%;
    height: 178px;
    grid-template-rows: 25% 50%;
    border-radius: 20px;
    border-left: 1px dashed rgb(38, 38, 38);
    background: rgba(201, 201, 201, 0.55);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.valor .t2 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.valor .t2 h6 {
    color: rgba(0, 0, 0, 0.62);
    text-align: center;
    font-family: Philosopher;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.valor .t2 h5 {
    color: #000;
    text-align: center;
    font-family: Philosopher;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.valor .texto {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 30px;
    align-items: center;
    padding-right: 15px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.62);
    font-family: Philosopher;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.valor .texto h6 {
    font-size: 10px;
    text-align: end;
}

.valor .texto p {
    margin: 0;
}

.comprar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
}

.btn-comprar {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background: linear-gradient(0deg, rgb(227, 215, 45) 0%, rgb(195, 212, 69) 100%);
    border: none;
    padding-top: 10px;
    color: #000;
    text-align: center;
    font-family: Philosopher;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-comprar:hover {
    background: linear-gradient(0deg, rgb(255, 158, 2) 0%, rgb(241, 232, 171) 100%);
}

.filtro {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 20px;
    background: linear-gradient(179deg, rgba(105, 105, 105, 0.51) 0.49%, rgba(179, 179, 179, 0.29) 97.45%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 380px;
    height: 40%;
}

.f1 h4 {
    color: #000;
    font-family: Philosopher;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 40px;
    margin: 10px;
}

.f2 h5 {
    color: #000;
    font-family: Philosopher;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
    padding-left: 10px;
    margin-bottom: 15px;

}

.f2-0 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 15px;
}

.f2-1 {
    border-radius: 20px;
    background: rgba(233, 233, 233, 0.55);
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s;
    gap: 5px;
}

.f2-1:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff;
    border: 1.5px solid rgb(13, 166, 204);
}

.f2-1 p {
    text-align: center;
    font-size: 14px;
}

.f2-0 img {
    width: auto;
    height: 15px;
}

.f3 h5 {
    color: #000;
    font-family: Philosopher;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
    padding-left: 10px;
    margin-bottom: 15px;
}

.f4 h5 {
    color: #000;
    font-family: Philosopher;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
    padding-left: 10px;
    margin-bottom: 15px;
}

.f4 p {
    color: #000;
    font-family: Philosopher;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
    padding-left: 15px;
}

#resultado {
    margin-bottom: 10px;
}

.estilo {
    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;
    width: 100%;
    height: 10px;
    border-radius: 9px;
    margin: 0px;
}

.estilo::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2796ee;
    cursor: pointer;
}

.estilo::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.f5 {
    padding-left: 10px;
}

.f5 h5 {
    color: #000;
    font-family: Philosopher;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
    padding-left: 10px;
    margin-bottom: 15px;
}

#nome {
    color: #000;
    font-family: Philosopher;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
}

.f5 img {
    width: auto;
    height: 16px;
}

.chek-ca {
    display: flex;
    align-items: center;
}

.footer0 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2B2B2B;
    min-height: 350px;
}

.footer1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 15px;
    width: 20%;
}

.footer1 img {
    width: 20%;
    height: auto;
}

.footer1 h3 {
    color: #E0E0E0;
    font-family: Newsreader;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer1 p {
    color: #787878;
    font-family: Philosopher;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer2 {
    display: flex;
    justify-content: space-around;
    gap: 30%;
    align-items: stretch;
}

.foo1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
    gap: 20px;
}

.foo1 a {
    inline-size: max-content;
    color: #787878;
    font-family: Philosopher;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foo1 a:hover {
    color: #E7F3F4
}

.foo1 h4 {
    color: #E0E0E0;
    font-family: Philosopher;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer3 {
    display: flex;
    justify-content: center;
    gap: 1%;
    align-items: baseline;
    background: #1C1E1F;
    min-height: 41px;
    align-items: center;
}

.footer3 h5 {
    color: #787878;
    font-family: Philosopher;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer3 h6 {
    color: #787878;
    font-family: Philosopher;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}